<h2>Create new team<h2>

<div id="form-new">
    <form action="/teams" method="post">
        <label for="name">Name</label><br>
        <input type="text" name="team[name]" id="name">
        <br><br>
        <input type="submit" value="Create new team">
    </form>
<div>