<h2>List of all teams:</h2>
<ol>
    <% Team.all.each do |team|%>
        <li><a href="/teams/<%=team.id%>"><%= team.name %></a></li>
    <% end %>
</ol>
<br><br>
<div id="btn-new">
    <a class="button" href="/teams/new">Add new team</a>
</div>
<div id="btn-edit">
        <a class="button" href="/teams/edit">Edit team</a>
</div>
<div id="btn-delete">
        <a class="button" href="/teams/delete">Delete team</a>
</div>

