<h2>Please login to proceed</h2>
<div id="form-cnt">
    <form action="/login" method="post">
        <lable for="username">Username: </lable>
        <br>
        <input type="text" id="username" name="dispatcher[username]">
        <br><br>
        <lable for="password">Password:</lable>
        <br>
        <input type="password" id="password" name="dispatcher[password]">
        <br><br><br>
        <input type="submit" value="Log In">
    </form>
</div>