<!DOCTYPE html>
    <html>
      <head>
          <title>Trucking Dispatch Software</title>
          <link rel="stylesheet" href="./home.css">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta charset="UTF-8">

      </head> 
      <body>
          <header>
            <div>
                <a class="button" id="btn home"href="/">home</a>
            </div>
            <div>
                <a class="button" id="btn login"href="/login">login</a>
            </div>
            <div>
                <a class="button" id="btn signin"href="/signin">signin</a>
            </div>
            <div>
                <a class="button" id="btn about" href="/about">about</a>
            </div>
          </header>
          <footer>
        
          </footer>
      </body> 
    </html>