<div id="heading">
    <h1>Welcome to Trucking Dispatch Software24</h1>
</div>
<div id="content">
        <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi lacus sed viverra tellus in hac habitasse platea. Duis convallis convallis tellus id interdum velit laoreet id donec. Purus in massa tempor nec feugiat nisl. Quisque egestas diam in arcu cursus euismod quis viverra nibh. Sed augue lacus viverra vitae congue. Amet nisl purus in mollis nunc sed. Sed lectus vestibulum mattis ullamcorper velit. Malesuada proin libero nunc consequat interdum varius sit amet. In nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Quisque sagittis purus sit amet volutpat consequat mauris. Imperdiet dui accumsan sit amet. Aliquam sem fringilla ut morbi tincidunt augue interdum. Ultrices tincidunt arcu non sodales neque sodales. Ac turpis egestas sed tempus urna. Elementum nibh tellus molestie nunc non blandit massa enim nec.
        </p>
        <h4>
        If you are interested to try our free Trucking Dispatch Software24 and see how we can help your business grow, signup and start using TDS24 now for free.
        </h4>
        <br>
        <div>
        <a class="button" id="btn-signup" href="/dispatchers/signup">Sign Up Here</a>
        </div>
        <br>
        <p>
    Arcu dui vivamus arcu felis bibendum ut tristique. Sed augue lacus viverra vitae congue eu consequat. Et netus et malesuada fames ac turpis. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien. Libero id faucibus nisl tincidunt. Semper viverra nam libero justo. Sem viverra aliquet eget sit amet tellus cras adipiscing enim. Risus quis varius quam quisque id. Amet nisl suscipit adipiscing bibendum est ultricies integer quis auctor. Nunc mi ipsum faucibus vitae. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel. Ut tellus elementum sagittis vitae et leo duis. Felis eget velit aliquet sagittis id.
        </p>
</div>
