<h2>New load:</h2>
<div class="form-new">
    <form action="/loads" method="post">
        <label for="pickup">Pickup city:</label><br>
        <input type="text" id="pickup" name="load[pickup]">
        <br><br>
        <label for="delivery">Delivery city:</label><br>
        <input type="text" id="delivery" name="load[delivery]">
        <br><br>
        <label for="miles">Loaded miles:</label><br>
        <input type="number" id="miles" name="load[miles]">
        <br><br>
        <label for="amount">Total paid:</label><br>
        <input type="number" id="amount" name="load[amount]">
        <br><br>
        <label for="driver">Choose a driver for this load:</label>
        <br>

        <%if Driver.all == []%>
            <p>*There is no drivers in the system. Please create new driver: </p>
            <div id="btn-new">
                <a class="button" href="/drivers/new">Add new driver</a>
            </div>
            <%else%>
                <select name="load[driver_id]">
                <%Driver.all.each do |driver|%>
                        <%if driver[:team_id] == @team.id %>
                            <option id="driver" value="<%=driver.id%>"><%=driver.name%></option>
                        <%end%>
                <%end%>
            </select>
        <%end%>

        <br><br>
        <label for="notes">Notes:</label><br>
        <input type="text" id="notes" name="load[notes]">
        <input type="hidden" name="load[dispatcher_id]" value="<%=@dispatcher.id%>">
        <input type="hidden" name="load[team_id]" value="<%=@team.id%>">
        <br><br>
        <input type="submit" value="Create new load">
    </form>
</div>