<h1>Welcome new drivers:</h1>
<h3>Please sign in</h3>
<div id="form-container">
    <form action="/drivers" method="post">
        <label for="name">Name:</label>
        <br>
        <input type="text" id="name" name="driver[name]" autofocus>
        <br>
        <label for="username">Username:</label>
        <br>
        <input type="text" id="username" name="driver[username]">
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" id="password" name="driver[password]">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>