<div id="heading">
    <h1>Welcome to Trucking Dispatch Software24</h1>
</div>
<div id="content">
        <p>
            Thank you for choosing us, <b>TDS24</b> as your choice for organizing your dispatch team. Here we will provide tracking of key points of your Team. Dispatchers, Drivers and Loads.
            You will be able to CREATE, READ, EDIT, DELETE your TEAM, DISPATCHERS, DRIVERS, LOADS. 
            Also you will be able to see dispatchers in all teams, their performance as well as loads and drivers. 
            Enjoy regular updates on our app, accessibility form any where and much more. 

        </p>
        <h4>
        If you are interested to try our free Trucking Dispatch Software24 and see how we can help your business grow, signup and start using TDS24 now, for free.
        </h4>
        <br>
        <div>
        <a class="button" id="btn-signup" href="/dispatchers/signup"><b>Sign Up Here</b></a>
        </div>
        <br>
        <p>
            Please contacts us about any questions that you may have. 
        </p>
        <div>
            <a href="mailto:zivkovicmilan1987@gmail.com">Email us</a>
        </div>
</div>
